doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./scss/index.css")
    title Document
  body
    section.header
      img.Group5(src="./accest/img/Group 5.png" alt="img1")
      div.p
        p.p1 HOME
        p ABOUT US
        p.p1 Create your plan
    
    section.backround
      img.Bitmap(src="./accest/img/Bitmap.png" alt="img1")
      p.p2 Great coffee
        br
        | made simple.
      p.p3 Start your mornings with the world's best coffees. Try our
        br
        | expertly curated artisan coffees from our best roasters
        br
        | delivered directly to your door, at your schedule.
      button.but Create your plan
    
    section.Hero
      p.p4 our collection
      img.Res(src="./accest/img/Rectangle.png" alt="img1")
    
    section.Grid_2
      section.Card
        img.kopi1(src="./accest/img/kopi1 copy@2x.jpg" alt="img1")
        p.p5 Gran Espresso
        p.p6 Light and flavorful blend with cocoa
          br
          | and black pepper for an intense
          br
          | experience
      section.Card1
        img.kopi1(src="./accest/img/kopi1 copy@2x.jpg" alt="img1")
        p.p7 Gran Espresso
        p.p8 Light and flavorful blend with cocoa
          br
          | and black pepper for an intense
          br
          | experience
      section.Card2
        img.kopi1(src="./accest/img/kopi1 copy@2x.jpg" alt="img1")
        p.p9 Gran Espresso
        p.p10 Light and flavorful blend with cocoa
          br
          | and black pepper for an intense
          br
          | experience
      section.Card3
        img.kopi1(src="./accest/img/kopi1 copy@2x.jpg" alt="img1")
        p.p9 Gran Espresso
        p.p10 Light and flavorful blend with cocoa
          br
          | and black pepper for an intense
          br
          | experience
    
    section.backround_1
      p.p11 Why choose us?
      p.p12 A large part of our role is choosing which particular coffees will be featured
        br
        | in our range. This means working closely with the best coffee growers to give
        br
        | you a more impactful experience on every level.
    
    section.Grid
      section.Color
        img.Shape1(src="./accest/img/Shape.png" alt="")
        p.p13 Best quality
        p.p14 Discover an endless variety of the
          br
          | world's best artisan coffee from each
          br
          | of our roasters.
      section.Color
        img.Shape1(src="./accest/img/Shape.png" alt="")
        p.p13 Best quality
        p.p14 Discover an endless variety of the
          br
          | world's best artisan coffee from each
          br
          | of our roasters.
      section.Color
        img.Shape1(src="./accest/img/Shape.png" alt="")
        p.p13 Best quality
        p.p14 Discover an endless variety of the
          br
          | world's best artisan coffee from each
          br
          | of our roasters.
    
    section.P1
      p.p15 How it works
      img.Line(src="./accest/img/Line23.png" alt="img1")
    
    section.P3
      section.P2
        p.p01 01
        p.p17 Pick your
          br
          | coffee
        p.p18 Select from our evolving range of artisan
          br
          | coffees. Our beans are ethically sourced
          br
          | and we pay fair prices for them. There are
          br
          | new coffees in all profiles every month
          br
          | for you to try out.
      section.P2
        p.p01 02
        p.p17 Choose the frequency
          br
          | coffee
        p.p18 Select from our evolving range of artisan
          br
          | coffees. Our beans are ethically sourced
          br
          | and we pay fair prices for them. There are
          br
          | new coffees in all profiles every month
          br
          | for you to try out.
      section.P2
        p.p01 03
        p.p17 Receive and enjoy!
          br
          | coffee

JON¹K, [5/30/2024 3:48 PM]
p.p18 Select from our evolving range of artisan
          br
          | coffees. Our beans are ethically sourced
          br
          | and we pay fair prices for them. There are
          br
          | new coffees in all profiles every month
          br
          | for you to try out.
    
    button.but Create your plan
    
    footer.Footer
      img.Foter1(src="./accest/img/Group 5.png" alt="img1")
      section.Grid_1
        p.p03 HOME
        p.p04 ABOUT US
        p Create your plan
      img.icon(src="./accest/img/Group 20.png" alt="")